:host {
    width: 100vw;
    height: 100dvh;

    background-color: rgba(0, 0, 0, 0.5);

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    padding: 1rem;

    font-family: "Lexend", sans-serif;

    .modal-content {
        background-color: white;
        border-radius: 7px;
        border: 1px solid var(--ui-accent-light);
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

        position: relative;
        z-index: 1001;
        padding: 1rem;
    }

    .background {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: #130a13bd;
        z-index: 1000;
        cursor: pointer;
    }
}