:host {
    min-width: 320px;

    position: sticky;
    top: var(--header-height);
    align-self: flex-start;
    max-height: calc(100dvh - var(--header-height));

    font-family: "Lexend", sans-serif;

    flex-basis: 320px;
    flex-grow: 1;

    & > div {
        overflow-y: auto;
        max-height: calc(100dvh - var(--header-height));

        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        & > nav {
            padding: var(--margin-header-content) 2rem;

            & > ul {
                display: flex;
                flex-direction: column;
                gap: 1rem;

                & li {
                    &:first-of-type {
                        margin-bottom: 1rem;
                    }

                    &:not(:first-of-type) {
                        padding-left: 1rem;
                    }

                    & a {
                        color: var(--ui-accent-light);
                        text-decoration: none;

                        &:hover {
                            color: var(--ui-accent-normal);
                        }
                    }
                }
            }
        }
    }

    a.active {
        color: var(--ui-brand-secondary) !important;
        font-weight: bold;
    }
}