:host {
    border: none;
    padding: 0;
    margin: 0;
    min-height: 100vh;

    display: flex;
    flex-direction: column;

    overflow-x: clip;

    & .wrapper {
        display: flex;
        flex: 1;
        min-width: 0;
        border: none;
        padding: 0;
        margin: 0;
    }
}