:host {
    display: flex;
    align-items: center;
    flex: 1;
    font-family: "Lexend", sans-serif;

    position: sticky;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;

    background-color: #ffffff62; /* semi-transparent */
    backdrop-filter: blur(6px) saturate(180%);
    -webkit-backdrop-filter: blur(6px) saturate(180%); /* for Safari */

    padding: 0 var(--content-padding);

    height: var(--header-height);
    min-height: var(--header-height);

    box-shadow: 0 0 10px #f0f0f1;

    & > nav {

        width: 100%;

        & > ul {
            display: flex;
            flex: 1;
            width: 100%;
            justify-content: center;
            align-items: center;
            gap: 1rem;

            & > li {
                flex: 1;

                &:first-of-type {
                    display: none;
                }
            }
        }
    }

    & .extra-options {
        display: flex;
        justify-content: flex-end;
        gap: 1rem;

        & i {
            color: var(--ui-accent-light);
            font-size: 1.5rem;
            cursor: pointer;

            &:hover {
                color: var(--ui-brand-secondary);
            }
        }
    }
}

@media (width <= 1024px) {
    :host {
        & > nav {
            & > ul {
                & > li {
                    &:first-of-type {
                        display: flex;
                        width: fit-content;
                        flex: 0;

                        .menu-button {
                            border: 0;
                            background-color: transparent;
                            cursor: pointer;
                            padding: 0;

                            & i {
                                color: var(--ui-accent-light);
                                font-size: 1.5rem;

                                &:hover {
                                    color: var(--ui-brand-secondary);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}