:host {
    width: 100vw;
    height: 100dvh;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: white;
    font-family: "Lexend", sans-serif;

    & a {
        background-color: #f8fafc;
        padding: .75rem 1.5rem;
        border-radius: 7px;
        display: flex;
        align-items: center;
        gap: .5rem;
        color: var(--ui-accent-dark);
        font-size: 1.25rem;
        text-decoration: none;
        border: 1px solid var(--ui-accent-light);
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

        &:hover {
            border-color: var(--ui-accent-dark);
            color: var(--ui-brand-secondary);
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);

            & i {
                color: var(--ui-brand-secondary);
            }
        }

        & i {
            font-size: 2rem;
            color: var(--ui-accent-dark);
        }
    }
}