:host {
    display: contents;
    font-family: "Lexend", sans-serif;

    & > div {
        height: inherit;
        flex-grow: 1;
        width: 100%;

        display: flex;
        flex-direction: column;

        & > main {
            flex: 1;
            display: flex;
            flex-direction: column;
            position: relative;

            padding: var(--margin-header-content) 2rem var(--margin-header-content) 2rem;

            & > .table-container {
                display: flex;
                flex-direction: column;
                flex: 1;

                & table {
                    border-radius: 7px;
                    overflow: clip;
                    margin-bottom: 1rem;

                    & thead {
                        background-color: var(--ui-brand-secondary);
                        border-radius: 7px 7px 0 0;
                        color: white;
                    }

                    & tbody {
                        text-align: center;

                        & tr:hover {
                            color: var(--ui-brand-secondary);
                        }
                    }

                    & tr {
                        &:nth-child(even) {
                            background-color: #f8f8f8;
                        }
                        & > td, & > th {
                            padding: .75rem;
                        }
                    }
                }

                &:nth-child(2) {
                    flex: 1;
                }
            }
            
            & > .pagination-container {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                gap: 1rem;

                position: sticky;
                bottom: 0;
                left: 50%;

                border-color: var(--ui-accent-light);
                border-style: solid;
                border-width: 1px 0 0 0;
                background-color: white;

                & .pagination-list {
                    display: flex;
                    gap: .5rem;
                    padding: 1rem 0 1rem 0;

                    & > li {
                        padding: .5rem 1rem;
                        border: 1px solid var(--ui-accent-light);
                        border-radius: 7px;
                        cursor: pointer;

                        &.active {
                            background-color: var(--ui-brand-secondary);
                            color: white;
                            border-color: var(--ui-brand-secondary);
                        }
                    }
                }
            }
        }
    }
}

@media (width <= 1024px) {
    :host {
        justify-content: center;

        & > div {
            & > main {
                
                padding: calc(var(--margin-header-content) / 2) .85rem 0 .85rem;
            }
        }
    }
}