:host {
    height: inherit;
    flex: 1;
    min-width: 320px;

    position: sticky;
    top: var(--header-height);
    max-height: calc(100dvh - var(--header-height));
    height: calc(100dvh - var(--header-height));

    background-color: #f8fafc;
    font-family: "Lexend", sans-serif;
    
    & > div {
        overflow-y: auto;
        height: inherit;

        display: flex;
        justify-content: flex-end;


        & > nav {
            display: flex;
            height: fit-content;
            padding: var(--margin-header-content) 2rem;
        }
    }

    & > div > nav > ul {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
}